<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skripsi.apmodasi">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apmodasi"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.activity.kader.EditPasswordKaderActivity"></activity>
        <activity android:name=".ui.activity.bunda.DataImunisasiBayiActivity" />
        <activity android:name=".ui.activity.bunda.bacaan.Bacaan6Activity" />
        <activity android:name=".ui.activity.bunda.bacaan.Bacaan5Activity" />
        <activity android:name=".ui.activity.bunda.bacaan.Bacaan4Activity" />
        <activity android:name=".ui.activity.bunda.bacaan.Bacaan3Activity" />
        <activity android:name=".ui.activity.bunda.bacaan.Bacaan2Activity" />
        <activity android:name=".ui.activity.bunda.bacaan.Bacaan1Activity" />
        <activity android:name=".ui.activity.bunda.BacaanActivity" />
        <activity android:name=".ui.activity.ImagePickerActivity" />
        <activity android:name=".ui.activity.bunda.EditPasswordActivity" />
        <activity android:name=".ui.activity.bunda.EditProfileActivity" />
        <activity android:name=".ui.activity.bunda.RiwayatBayiActivity" />
        <activity android:name=".ui.activity.kader.DetailBayiKaderActivity" />
        <activity android:name=".ui.activity.kader.DetailBundaActivity" />
        <activity android:name=".ui.activity.kader.InputDataBayiActivity" />
        <activity android:name=".ui.activity.kader.ScanActivity" />
        <activity android:name=".ui.activity.kader.HistoryKaderActivity" />
        <activity android:name=".ui.activity.kader.AkunKaderActivity" />
        <activity android:name=".ui.activity.kader.DataIbuActivity" />
        <activity android:name=".ui.activity.kader.DataBayiActivity" />
        <activity android:name=".ui.activity.kader.MenuKaderActivity" />
        <activity android:name=".ui.activity.bunda.EditBayiActivity" />
        <activity android:name=".ui.activity.bunda.DetailBayiActivity" />
        <activity android:name=".ui.activity.intro.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.bunda.AkunActivity" />
        <activity android:name=".ui.activity.ImageViewActivity" />
        <activity android:name=".ui.activity.bunda.MenuActivity" />
        <activity android:name=".ui.activity.intro.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAISwXwMy9RIBS6qnrxkC3fPRL3hfSrJSg" />
    </application>

</manifest>